.b_courses_container{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
}

.b_courses_heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 50;
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
}

.b_courses_para{
    width: 55%;
    margin: auto;   
}

.b_courses_cards{
    color: #000;
    margin: auto;
    width: 60%;
    display:flex;
    justify-content: space-between;
}